:root{
 --primary-color:#9722db;
 --white-color:#fff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: #19101f;
}

.primary-btn{
    border:none;
    padding: 15px;
    color: #fff;
    background-color: var(--primary-color);
    font-size: 1.1rem;
    border-radius: 5px;
    min-width: 200px;
}
.heading{
    font-size: 5rem;
    z-index: 1;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #111111; */
    min-height: 100vh;
    color: #fff;
    overflow: hidden;
}
.hero-text{
    flex: 1;
    padding: 15px;
    position: relative;
    z-index: 4;
   
}
.hero-image{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

.subtitle{
    font-size: 1.4rem;
    line-height: 1.4;
    margin-top: 30px;
    margin-bottom: 30px;
}

.hero-image img{
    width: 500px;
    animation: animate-image 1s linear infinite alternate;
    z-index: 1;
}

.blur1{
    position: absolute;
    min-width: 80%;
    min-height: 80%;
    border-radius: 300px;
    background-color: var(--primary-color);
    left: -100px;
    top: 30px;
    filter: blur(150px);
    z-index: -1;      
}

.blur2{
    position: absolute;
    min-width: 60%;
    min-height: 60%;
    border-radius: 300px;
    /* background-color: var(--primary-color); */
    background: linear-gradient(45deg , #ff1e38 , var(--primary-color));
    right: -100px;
    top: -100px;
    left: -100px;
    top: 30px;
    filter: blur(150px);
}

@keyframes animate-image {
    0%{
        transform: translateX(10px) translateY(10px);
    }
    100%{
        transform: translateX(-10px) translateY(-10px);
    }
}

nav{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-around;
    background-color: #3d3d3d5f;
    position: sticky;
    top: 0;
    color: var(--white-color);
    backdrop-filter: blur(30px);
    padding: 20px 10px;
    
}
nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
nav ul li{
    font-size: 1.3rem;
    position: relative;
    overflow: hidden;
}

/* // Day 2 */

nav ul li::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--white-color);
    z-index: -1;
    transform: translate(-100%);
    /* transform: scale(0.5);
    border-radius: 100px; */
}
nav ul li:hover::before{
    transform: translateX(0);
    transition: 0.8s;
    /* transform: scale(1.1); */
}
nav ul li:hover{
    color: #000;
    transition: 1s;
    cursor: pointer;
}
.outline-btn{
    border: none;  /*/ removes default property of border  */
    padding: 15px;
    min-width: 150px;
    color: var(--white-color);
    border: 3px solid var(--white-color);
    background-color: transparent;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}
.outline-btn:hover{
    background-color: var(--white-color);
    color: var(--primary-color);
    transition: 0.5s;
}
 /* card */
.benifits{
    /* background-color: #19101f; */
    color: var(--white-color);
    padding: 5%;
}
.benifits-card-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
    flex-wrap: wrap;
}
.benifit-card{
    width: 500px;
    background: linear-gradient(45deg , #5e005f92, #e58fff33);
    backdrop-filter: blur(20px);
    padding: 20px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.benifit-card-icon{
    width: 80px;
    height: 80px;
     border-radius: 50px 0px 50px 0px;   /* gives designs */
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
    .benifit-card::before{    /*  for white round in the card*/
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: var(--white-color);
    top: -100px;
    right: -100px;
}
.benifit-card:hover::before{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: 0.6s;
    border-radius: 0;
     z-index: -1;    /*  pushes white background to back*/
}
.benifit-card:hover{
    color: #000;
    transition: 0.6s;
}

/* Day 3 */

.about{
    display: flex;
    color: var(--white-color);
    align-items: center;
    position: relative;
}
.about-text{
    flex: 1;
    padding: 2%;
}
.about-image{
    flex: 1;
    padding: 2%;
}
.about-image img{
    width: 600px;
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
}
.about-number{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #917b7e79;
    justify-content: center;
    backdrop-filter: blur(5px);
    border-radius: 20px;
    border: 1px solid #97979765;
    padding: 30px;
}
.num-card{
    width: 250px;
    height: 200px;
    padding: 10px;
     /* background-color: #ffffff51; */
     background: linear-gradient(45deg , #47474765 ,#dddddd6b);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    overflow: hidden;
}
.about-text h1{
    font-size: 3rem;
    margin-bottom: 20px;
}

.pricing-banner{
    color: #fff;
    text-align: center;
}

.pricing-cards-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.pricing-card{
    flex: 1;
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    gap: 30px;
    background: linear-gradient(45deg , #711DB0 , #42166484);
    border-radius: 20px;
    border: 2px solid transparent;
}
.pricing-card-header{
    padding: 30px;
}
.pricing-card-header h1{
    margin-top: 20px;
    margin-bottom: 20px;
}
.pricing-card-body{
    padding: 30px;
}
.signup{
    border: none;
    padding: 10px;
    width: 100%;
    margin-top: 30px;
    font-size: 1.3rem;
    border-radius: 5px;
    background-color: var(--white-color);
}
.signup:hover{
    background-color: #711DB0;
    color: var(--white-color);
    transition: 0.6s;
    cursor: pointer;
}
ul li{
    margin-bottom: 10px;
}
/* //Day 4 */
.pricing-card:hover{
    border: 2px solid var(--white-color);
    transition: 0.7s;
    transform: translateY(-40px);
}
.testimonials{
    padding: 2%;
}
.test-banner{
    color: var(--white-color);
    text-align: center;
    margin-bottom: 30px;
}
.test-card-container{
    display: flex;
    gap: 20px;
    margin-bottom: 200px;
    
}
.test-card{
    flex: 1;
    color: var(--white-color);
    background:linear-gradient(45deg, #5d21cc,#e02be0);
    padding: 20px;
    /* border-radius: 10px; */
    /* border-left: 4px solid var(--white-color); */
    position: relative;
}
.test-profile img{
    width: 80px;
    height: 80px;
    border-radius: 100px;
    border: 3px solid var(--white-color);
    padding: 5px;
}
.test-profile{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}
.test-card:before{
    content: "";
    position: absolute;
    width: 30px;
    height: 100%;
    background-color: var(--white-color);
    top: 16px;
    left: -30px;
    transform:skewY(-45deg);
    box-shadow: inset 10px 0px 40px #4a4748;
}
.test-card:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 30px;
    background-color: gray;
    left: -15px;
    bottom: -30px;
    transform:skewX(-45deg);
    box-shadow: inset 0px 0px 10px #de1f5f;


}

